
a {
  cursor: pointer;
}

html,
body {
  background: #D6D6CE;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#outer {
  display: flex;
  justify-content: space-around
}

.demographics, .trees {
  display: flex;
}

#left, #right, #app {
  margin-top: 100px
  
}



.trees, .demographics {
  margin-bottom: 100px
}

p, h1 {
  text-align: center
}
